<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<br>
<button class="btn btn-secondary" (click)="goBack()"> BACK </button>
<br><br>

<form>
  <div class="form-group">
    <label for="horseName">
      Name:
    </label>
    <input
      required
      id="horseName"
      ngModel
      name="name"
      #name = "ngModel"
      type="text"
      class="form-control"
      [defaultValue]="this.horse.name"
      [(ngModel)]="horse.name">
  </div>
  <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Name must be set.</div>

  <div class="form-group">
    <label for="horseSex">
      Sex:
    </label>
    <select
      required
      id="horseSex"
      ngModel
      name="sex"
      #sex="ngModel"
      class="browser-default custom-select form-control"
      [(ngModel)]="horse.sex">
      <option selected hidden>{{this.horse.sex}}</option>
      <option value="M">male</option>
      <option value="F">female</option>
    </select>
  </div>
  <div class="alert alert-danger" *ngIf="sex.touched && !sex.valid">Sex must be set.</div>

  <div class="form-group">
    <label for="dateOfBirth">Date of birth:</label>
    <form class="form-inline">
      <div class="input-group">
        <input
          required
          type="date"
          class="form-control"
          id="dateOfBirth"
          [(ngModel)]="this.horse.dateOfBirth"
          ngModel name="dp"
          onkeydown="return false"
          #dp = "ngModel"
          [defaultValue]="this.horse.dateOfBirth">
      </div>
      <div class="alert alert-danger" *ngIf="dp.touched && !dateValid()">{{dateError}}</div>

    </form>
  </div>

  <div class="form-group">
    <label for="horseParent1">
      Parent 1:
    </label>
    <select
      id="horseParent1"
      ngModel name="hP1"
      #hP1 = "ngModel"
      class="browser-default custom-select form-control"
      [(ngModel)]="horse.parent1Id">
      <option selected hidden>{{this.parent1}}</option>
      <option value="null">none</option>
      <option *ngFor="let horse of horses" value={{horse.id}}>{{horse.name}} {{horse.sex}} {{horse.dateOfBirth}}</option>
    </select>
  </div>
  <!--  <div class="alert alert-danger" *ngIf="hP1.touched && !parentsValid()">{{parent1Error}}</div>-->

  <div class="form-group">
    <label for="horseParent2">
      Parent 2:
    </label>
    <select
      id="horseParent2"
      ngModel name="hP2"
      #hP2 = "ngModel"
      class="browser-default custom-select form-control"
      [(ngModel)]="horse.parent2Id">
      <option selected hidden>{{this.parent2}}</option>
      <option value="null">none</option>
      <option *ngFor="let horse1 of horses" value={{horse1.id}}>{{horse1.name}} {{horse1.sex}} {{horse1.dateOfBirth}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="horseDescription">
      Description:
    </label>
    <textarea
      id="horseDescription"
      name="description"
      cols="30" rows="3"
      class="form-control"
      [defaultValue]="this.horse.description"
      [(ngModel)]="horse.description"></textarea>
  </div>

  <div class="form-group">
    <label for="horseSport">
      Favourite Sport:
    </label>
    <select
      id="horseSport"
      name="datepicker"
      class="browser-default custom-select form-control"
      [(ngModel)]="horse.favSportId">
      <option selected hidden>{{this.sportname}}</option>
      <option value="null">none</option>
      <option *ngFor="let sport of sports" value={{sport.id}}>{{sport.name}}</option>
    </select>
  </div>

  <button class="btn btn-primary" (click)="updateHorse()"> UPDATE </button>
  <br><br>
  <button class="btn btn-outline-dark">
    <a routerLink="/horses">
      DISCARD
    </a>
  </button>
</form>



