<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<br>
<form>
  <div class="form-group">
    <label for="horseName">
      Name:
    </label>
    <input
      id="horseName"
      name="name"
      type="text"
      class="form-control"
      placeholder="Enter name..."
      [(ngModel)]="horse.name">
  </div>

  <div class="form-group">
    <label for="horseSex">
      Sex:
    </label>
    <select
      id="horseSex"
      name="sex"
      class="browser-default custom-select form-control"
      [(ngModel)]="horse.sex">
      <option selected hidden>Choose sex...</option>
      <option value="M">male</option>
      <option value="W">female</option>
    </select>
  </div>

  <div class="form-group">
    <label>Date of birth:</label>
    <form class="form-inline">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          [(ngModel)]="horse.dateOfBirth"
          ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>

    </form>
  </div>

  <div class="form-group">
    <label for="horseDescription">
      Description:
    </label>
    <textarea
      id="horseDescription"
      name="description"
      cols="30" rows="10"
      class="form-control"
      placeholder="Enter description..."
      [(ngModel)]="horse.description"></textarea>
  </div>

  <div class="form-group">
    <label for="horseSport">
      Favourite Sport:
    </label>
    <select
      id="horseSport"
      name="datepicker"
      class="browser-default custom-select form-control"
      [(ngModel)]="horse.favSport">
      <option selected hidden>Choose sport from list...</option>
      <option *ngFor="let sport of sports">{{sport.name}}</option>
    </select>
  </div>

  <button class="btn btn-primary" (click)="createHorse()"> ADD </button>
  <br><br>
  <button class="btn btn-outline-dark">
    <a routerLink="/horses">
      DISCARD
    </a>
  </button>
</form>


